
# Ignora i log generati da Airflow
logs/

# Ignora i volumi di dati locali (buona pratica per non includerli nelle immagini)
volumes/

# Ignora le cache di Python
__pycache__/
*.pyc

# Ignora la cartella di Git
.git/
